<!DOCTYPE HTML>
<html>
<head>
    <script data-require="jquery@1.11.3" data-semver="1.11.3" src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <link data-require="bootstrap@3.3.6" data-semver="3.3.6" rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script data-require="bootstrap@3.3.6" data-semver="3.3.6"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script data-require="bootbox.js@4.4.0" data-semver="4.4.0"
            src="https://github.com/makeusabrew/bootbox/releases/download/v4.4.0/bootbox.min.js"></script>
    <script type="text/javascript" src="/js/previousPage.js">
    </script>
    <script type='text/javascript' src='js/slimtable.js'></script>
    <script type='text/javascript' src='js/slimtableCall.js'></script>
    <script type='text/javascript' src='js/fadeNotification.js'></script>
    <link rel="stylesheet" type="text/css" href="/css/notification.css"/>
</head>
<body>

</body>
</html>