<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <header>
        <ul id="messages" th:with="notifyMessages=${session[T(com.site.notification
          .Notification).NOTIFY_MSG_SESSION_KEY]}">
            <li th:each="msg : ${notifyMessages}" th:text="${msg.text}"
                th:class="${#strings.toLowerCase(msg.type)}">
            </li>
            <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(
          T(com.site.notification.Notification).NOTIFY_MSG_SESSION_KEY)}"></span>
        </ul>
    </header>
</head>
<body>

</body>
</html>